/* Цвет основного текста #212121 */

/* Вторичный цвет текста  #757575 */

/* Белый цвет #FFFFFF */

/* Логотип и Акцент #2196F3 */

/* Вторичный цвет фона #2F303A */

/* Третичный цвет фона #F5F4FA */

:root {
  --title-text-color: #212121;
  --prymary-text-color: #757575;
  --accent-text-color: #2196f3;
  --secondary-text-color: #ffffff;
  --prymary-bt-color: #f5f4fa;
  --background-fone-color: #2f303a;
  --accent-bt-color: #2196f3;
  --accent-ptymary-color: #188ce8;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Шапка сайта */

.page-header {
  margin-inline-end: auto;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
}

.logo-footer {
  margin-top: 60px;
  padding-left: 15px;
}

.logo-blue {
  color: var(--accent-text-color);
}

.logo-white {
  color: var(--secondary-text-color);
}

/* site-nav */

.page-header {
  display: flex;
}

/* .main-nav {
  display: flex;
  margin: 0;
  width: 585px;
  outline: 1px solid red;
} */

.site-nav {
  display: flex;
  margin: 0px;
  border: 0px;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link. .current {
  color: var(--accent-text-color);
}

.hcontact-link {
  display: flex;
  margin-left: 15px;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 0;
  width: 385px;
  outline: 1px solid red;
}

.hcontact-link .item + .item {
  margin-left: 50px;
}

.hcontact-link .link {
  color: var(--prymary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.hcontact-link > li :hover,
.hcontact-link > li :focus {
  color: var(--accent-text-color);
}

/* index.html */

/* Hero */
.hero {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 0;
  width: 1600px;
  outline: 1px solid red;
  text-align: center;
  background-color: var(--background-fone-color);
  color: var(--secondary-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.hero-title {
  margin: 0px;
  margin-bottom: 30px;
  text-align: center;
}

/* Эффективные решения */

.section {
  margin-top: 5px;
  padding: 0;
}

.container {
  margin: 0 auto;
  outline: 1px solid red;
  width: 1200px;

  margin-top: 5px;
  margin-bottom: 0;
}

.title-container {
  margin-top: 0;
  margin-bottom: 0;
}

.title-solution {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.text {
  color: var(--prymary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0;
  margin-top: 0;
}

/* Чем мы занимаемся */

.title-practice {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.title-practice {
  text-align: center;
}

.practice-list {
  margin-top: 0;
  margin-bottom: 0;
}

/* Наша команда */

.title-team {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
}

.team-list {
  margin-top: 0;
  margin-bottom: 0;
}

.emoyee {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
  min-width: 109px;
}

.prof {
  color: var(--prymary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 0;
}

/* Подвал */

.footer {
  background-color: var(--background-fone-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.map-link {
  color: var(--secondary-text-color);
}
.map-link:hover,
.map-link:focus {
  color: var(--accent-text-color);
}

.fcontact-link {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

.fcontact-link .link {
  color: rgba(255, 255, 255, 0.6);
}

.fcontact-link > li :hover,
.fcontact-link > li :focus {
  color: var(--accent-text-color);
}

/* portfolio.html */

.project {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.type-project {
  color: var(--prymary-text-color);

  font-size: 16px;
  line-height: 1.87;
}

/* Button */

.button {
  background-color: var(--accent-text-color);
  color: var(--secondary-text-color);
  cursor: pointer;
}

.button.prymary {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border: none;
  margin: none;

  background-color: var(--accent-text-color);
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.button.prymary:hover,
.button.prymary:focus {
  background-color: var(--accent-ptymary-color);
  color: var(--secondary-text-color);
}

.button.secondary {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: none;
  text-align: center;
  background-color: var(--prymary-bt-color);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-bt-color);
  color: var(--secondary-text-color);
}
